{{- $page := .page -}}
{{- $params := .params -}}
{{- $site := $page.Site -}}
{{- $taxonomy := $site.Taxonomies.categories -}}
{{- $limit := index $params "limit" | default 10 -}}
{{- $entries := $taxonomy.ByCount -}}
{{- if $limit -}}
  {{- $entries = first $limit $entries -}}
{{- end -}}
<aside class="glass widget widget--categories">
  <h3 class="widget__title">
    {{ partial "helper/icon" "folder" }}
    <span>{{ T "categories" | default "Categories" }}</span>
  </h3>
  {{- if $entries -}}
    <ul>
      {{- range $entries -}}
        <li>
          <a href="{{ .Page.RelPermalink }}"
            {{- with .Page.Params.style }} style="background-color: {{ .background }}; color: {{ .color }};"{{ end -}}>
            <span>{{ .Page.LinkTitle | default .Page.Title }}</span>
            <span class="count">{{ .Count }}</span>
          </a>
        </li>
      {{- end -}}
    </ul>
  {{- end -}}
</aside>
